.buy {
  height: 2rem;
  border: 0;
  padding: 1.3rem;
  border-radius: 0.8rem;
  background: var(--green);
  color: var(--white);
  letter-spacing: 0.2rem;
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;

  svg {
    margin-left: 1rem;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}