.header {
  color: black;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  > h4 {
    color: var(--cyan-700);
  }
}

.step {
  color: black;
  padding: 0.25rem 0.75rem;
  border-radius: 0.65rem;
  background: var(--gray-100);
}