.card {
  width: 100%;
  cursor: pointer;
  display: flex;
  position: relative;
  background: var(--gray-100);
  border-radius: 1rem;

  & + & {
    margin-top: 0.75rem;
  }
}

.cardBody {
  width: 100%;
  display: flex;
  line-height: 1.7rem;
}

.cardImage {
  width: 150px;
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardContent {
  flex: 1;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
}

.title {
  width: 100%;
  position: relative;
  margin-bottom: 1.25rem;

  h3 {
    color: var(--gray-800);
    font-size: 1.5rem;
    font-weight: bold;
  }

  ::before {
    top: -4px;
    right: 0;
    width: 32px;
    height: 32px;
    border: 2px solid white;
    content: '';
    position: absolute;
    transition: all 0.1s;
    border-radius: 30%;
    background-color: white;
  }
}

.checked {
  ::before {
    border-color: var(--green);
  }

  ::after {
    top: 2px;
    right: 6px;
    width: 24px;
    height: 24px;
    content: '';
    position: absolute;
    border-radius: 30%;
    background-color: var(--green);
  }
}

.cardSection {
  color: var(--gray-800);

  > span {
    color: var(--gray-300);
    font-weight: bold;
  }
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .price {
    color: var(--green);
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
}